pillow = "*"
google-cloud-bigquery = "*"
langchain-google-vertexai = "*"
langchain-google-community = "*"
paddleocr = "*"
paddlepaddle = "*"
pdf2image = "*"
pymupdf = "*"
langchain-google-genai = "*"
db-dtypes = "*"
flashrank = "==0.2.10"
faiss-cpu = "*"